<a href="https://colab.research.google.com/github/naveenbreddy/pandas_exercises/blob/master/Filters_my_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep = '\t')

### Step 3. Assign it to a variable called chipo.

In [3]:
##

### Step 4. How many products cost more than $10.00?

In [10]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [55]:
prices = [float(value[1:-1]) for value in df.item_price]

In [53]:
df['item_price'] = prices

In [61]:
cleaned_df = df[df['quantity'] == 1]
cleaned_df[cleaned_df['item_price']>10].item_name.nunique()

25

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [71]:
cleaned_df1 = cleaned_df.drop_duplicates(['item_name','quantity'])
cleaned_df1[['item_price','item_name']]

      item_price                              item_name
0           2.39           Chips and Fresh Tomato Salsa
1           3.39                                   Izze
2           3.39                       Nantucket Nectar
3           2.39  Chips and Tomatillo-Green Chili Salsa
5          10.98                           Chicken Bowl
6           1.69                          Side of Chips
7          11.75                          Steak Burrito
8           9.25                       Steak Soft Tacos
10          4.45                    Chips and Guacamole
11          8.75                   Chicken Crispy Tacos
12          8.75                     Chicken Soft Tacos
16          8.49                        Chicken Burrito
21          8.99                       Barbacoa Burrito
27          8.99                       Carnitas Burrito
28          1.09                            Canned Soda
33          8.99                          Carnitas Bowl
34          1.09                          Bottled Water
38          2.95  Chips and Tomatillo Green Chili Salsa
39         11.75                          Barbacoa Bowl
40          2.15                                  Chips
44          8.75                     Chicken Salad Bowl
54          8.99                             Steak Bowl
56          9.25                    Barbacoa Soft Tacos
57         11.25                         Veggie Burrito
62         11.25                            Veggie Bowl
92          9.25                     Steak Crispy Tacos
111         2.95    Chips and Tomatillo Red Chili Salsa
168        11.75                  Barbacoa Crispy Tacos
186        11.25                      Veggie Salad Bowl
191         2.39     Chips and Roasted Chili-Corn Salsa
233         2.95     Chips and Roasted Chili Corn Salsa
237         9.25                    Carnitas Soft Tacos
250        10.98                          Chicken Salad
263         1.25                      Canned Soft Drink
298         6.49                      6 Pack Soft Drink
300         2.39    Chips and Tomatillo-Red Chili Salsa
510         7.40                                Burrito
520         7.40                           Crispy Tacos
554         9.25                  Carnitas Crispy Tacos
606        11.89                       Steak Salad Bowl
664         8.99                            Steak Salad
673         7.40                                   Bowl
674         3.00      Chips and Mild Fresh Tomato Salsa
738        11.25                      Veggie Soft Tacos
1132       11.89                    Carnitas Salad Bowl
1229       11.89                    Barbacoa Salad Bowl
1414        7.40                                  Salad
1653        8.49                    Veggie Crispy Tacos
1694        8.49                           Veggie Salad
3750        8.99                         Carnitas Salad

### Step 6. Sort by the name of the item

In [72]:
cleaned_df1.sort_values('item_name',ascending = False)

,order_id,quantity,item_name,choice_description,item_price
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1694,686,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.49
1653,668,1,Veggie Crispy Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49
57,26,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
62,28,1,Veggie Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",9.25
606,250,1,Steak Salad Bowl,"[Fresh Tomato Salsa, [Pinto Beans, Cheese, Gua...",11.89
664,276,1,Steak Salad,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",8.99
92,40,1,Steak Crispy Tacos,"[Fresh Tomato Salsa, Sour Cream]",9.25
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
54,25,1,Steak Bowl,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",8.99
6,3,1,Side of Chips,NaN,1.69
1414,575,1,Salad,"[Brown Rice, Adobo-Marinated and Grilled Chick...",7.40
2,1,1,Nantucket Nectar,[Apple],3.39
1,1,1,Izze,[Clementine],3.39
520,217,1,Crispy Tacos,[Adobo-Marinated and Grilled Steak],7.40
300,130,1,Chips and Tomatillo-Red Chili Salsa,NaN,2.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
111,49,1,Chips and Tomatillo Red Chili Salsa,NaN,2.95
38,18,1,Chips and Tomatillo Green Chili Salsa,NaN,2.95
191,85,1,Chips and Roasted Chili-Corn Salsa,NaN,2.39
233,102,1,Chips and Roasted Chili Corn Salsa,NaN,2.95
674,279,1,Chips and Mild Fresh Tomato Salsa,NaN,3.00
10,5,1,Chips and Guacamole,NaN,4.45
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
40,19,1,Chips,NaN,2.15
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",8.75
44,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75
250,109,1,Chicken Salad,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",10.98
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",8.49
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
237,103,1,Carnitas Soft Tacos,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",9.25
1132,468,1,Carnitas Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.89
3750,1500,1,Carnitas Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.99
554,230,1,Carnitas Crispy Tacos,[Roasted Chili Corn Salsa],9.25
27,14,1,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",8.99
33,17,1,Carnitas Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",8.99
263,114,1,Canned Soft Drink,[Coke],1.25
28,14,1,Canned Soda,[Dr. Pepper],1.09
510,214,1,Burrito,"[Adobo-Marinated and Grilled Chicken, Pinto Be...",7.40
673,279,1,Bowl,"[Adobo-Marinated and Grilled Steak, [Sour Crea...",7.40
34,17,1,Bottled Water,NaN,1.09
56,26,1,Barbacoa Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",9.25
1229,501,1,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",11.89
168,75,1,Barbacoa Crispy Tacos,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",11.75
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",8.99
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75
298,129,1,6 Pack Soft Drink,[Sprite],6.49

### Step 7. What was the quantity of the most expensive item ordered?

In [84]:
#df[df['item_price']==44.25]

df.sort_values('item_price', ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [87]:
df[df['item_name']=='Veggie Salad Bowl']['quantity'].sum()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [100]:
df[(df['item_name']=='Canned Soda') & (df['quantity']>1)].count()

order_id              20
quantity              20
item_name             20
choice_description    20
item_price            20
dtype: int64