<a href="https://colab.research.google.com/github/naveenbreddy/pandas_exercises/blob/master/Student_Alcohol_consumption.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv")

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [13]:
df.columns.get_indexer(['guardian'])
df1 = df.iloc[:,0:12]

#df.loc[:,"school":"guardian"]

### Step 5. Create a lambda function that will capitalize strings.

In [12]:
capitalize = lambda x: x.upper()
capitalize('String')

'STRING'

### Step 6. Capitalize both Mjob and Fjob

In [22]:
df['Mjob'].apply(capitalize)
df['Fjob'].apply(capitalize)

0       TEACHER
1         OTHER
2         OTHER
3      SERVICES
4         OTHER
         ...
390    SERVICES
391    SERVICES
392       OTHER
393       OTHER
394     AT_HOME
Name: Fjob, Length: 395, dtype: object

### Step 7. Print the last elements of the data set.

In [23]:
df.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [24]:
df['Mjob']=df['Mjob'].apply(capitalize)
df['Fjob']=df['Fjob'].apply(capitalize)

### Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [31]:
def majority(x):
  if x>17:
    return True
  else:
    return False

In [32]:
df['legal_drinker'] = df['age'].apply(majority)

In [34]:
df['legal_drinker']

0       True
1      False
2      False
3      False
4      False
       ...
390     True
391    False
392     True
393     True
394     True
Name: legal_drinker, Length: 395, dtype: bool

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [46]:
def ten_times(x):
  if type(x) is int:
    return x*10
  return x

In [47]:
df.applymap(ten_times)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,legal_drinker
0,GP,F,180,U,GT3,A,40,40,AT_HOME,TEACHER,...,30,40,10,10,30,60,50,60,60,True
1,GP,F,170,U,GT3,T,10,10,AT_HOME,OTHER,...,30,30,10,10,30,40,50,50,60,False
2,GP,F,150,U,LE3,T,10,10,AT_HOME,OTHER,...,30,20,20,30,30,100,70,80,100,False
3,GP,F,150,U,GT3,T,40,20,HEALTH,SERVICES,...,20,20,10,10,50,20,150,140,150,False
4,GP,F,160,U,GT3,T,30,30,OTHER,OTHER,...,30,20,10,20,50,40,60,100,100,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,200,U,LE3,A,20,20,SERVICES,SERVICES,...,50,40,40,50,40,110,90,90,90,True
391,MS,M,170,U,LE3,T,30,10,SERVICES,SERVICES,...,40,50,30,40,20,30,140,160,160,False
392,MS,M,210,R,GT3,T,10,10,OTHER,OTHER,...,50,30,30,30,30,30,100,80,70,True
393,MS,M,180,R,LE3,T,30,20,SERVICES,OTHER,...,40,10,30,40,50,0,110,120,100,True
394,MS,M,190,U,LE3,T,10,10,OTHER,AT_HOME,...,20,30,30,30,50,50,80,90,90,True