<a href="https://colab.research.google.com/github/naveenbreddy/pandas_exercises/blob/master/Food%20facts%20-%20my%20solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1

### Step 1. Go to https://www.kaggle.com/openfoodfacts/world-food-facts/data

### Step 2. Download the dataset to your computer and unzip it.

### Step 3. Use the tsv file and assign it to a dataframe called food

In [5]:
! mkdir ~/.kaggle

mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [8]:
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json
!kaggle datasets download -d openfoodfacts/world-food-facts
import zipfile
!unzip world-food-facts.zip -d /content/

Downloading world-food-facts.zip to /content
 93% 101M/109M [00:00<00:00, 125MB/s]
100% 109M/109M [00:00<00:00, 122MB/s]

### Step 4. See the first 5 entries

In [13]:
import pandas as pd
import numpy as np

food = pd.read_csv('/content/en.openfoodfacts.org.products.tsv', sep = '\t')

<ipython-input-13-509a3e571bd0>:4: DtypeWarning: Columns (0,3,5,19,20,24,25,26,27,28,36,37,38,39,48) have mixed types. Specify dtype option on import or set low_memory=False.
  food = pd.read_csv('/content/en.openfoodfacts.org.products.tsv', sep = '\t')

### Step 5. What is the number of observations in the dataset?

In [15]:
food.shape

(356027, 163)

### Step 6. What is the number of columns in the dataset?

In [19]:
food.columns.nunique()

163

### Step 7. Print the name of all the columns.

In [22]:
food.columns

Index(['code', 'url', 'creator', 'created_t', 'created_datetime',
       'last_modified_t', 'last_modified_datetime', 'product_name',
       'generic_name', 'quantity',
       ...
       'fruits-vegetables-nuts_100g', 'fruits-vegetables-nuts-estimate_100g',
       'collagen-meat-protein-ratio_100g', 'cocoa_100g', 'chlorophyl_100g',
       'carbon-footprint_100g', 'nutrition-score-fr_100g',
       'nutrition-score-uk_100g', 'glycemic-index_100g',
       'water-hardness_100g'],
      dtype='object', length=163)

### Step 8. What is the name of 105th column?

In [23]:
food.columns[104]

'-glucose_100g'

### Step 9. What is the type of the observations of the 105th column?

In [29]:
food.dtypes['-glucose_100g']

dtype('float64')

### Step 10. How is the dataset indexed?

In [30]:
food.index

RangeIndex(start=0, stop=356027, step=1)

### Step 11. What is the product name of the 19th observation?

In [37]:
food.iloc[18][7]

'Lotus Organic Brown Jasmine Rice'